article {
    padding: 5px 20px;
}
footer {
    margin-top: 30px;
    padding: 30px 20px 20px 20px;
    border-top: 1px solid #AAAAAA;
    text-align: center;
}

.table-striped tbody tr.alert-danger {
    background-color: #f8d7da !important;
}
/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0.8em 1em 0.3em;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/** NAVIGATION **/
#rightactions .nav-item {
    float: right;
    margin-left: 10px;
    list-style-type: none;
}

.nav-item {
    padding: 3px 10px;
}

@keyframes greenfade {
  from {
      background: #64b448;
  }
  to {
      background: transparent;
  }
}
@keyframes yellowfade {
    from {
        background: yellow;
    }
    to {
        background: transparent;
    }
}
.greenhighlighted {
    animation-name: greenfade;
    animation-duration: 1.5s;
}
.highlighted {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}